<template>
    <li class="${item.navModel.isActive ? 'active ' + item.class : item.class}" if.bind="item.isVisible">
        <a href.bind="item.navModel.href">
            <i class.bind="item.fontAwesomeIcon"></i>
            <span class="nav-label" t="${item.i18key}"></span>
            <span if.bind="item.label" class="label ${item.label.type} pull-right">${item.label.text}</span>
            <span if.bind="item.type === 'menu' && !item.label" class="fa arrow"></span>
        </a>
        <ul if.bind="item.items" class="nav nav-second-level collapse">
            <li repeat.for="lvl2Item of item.items" class="${lvl2Item.navModel.isActive  ? 'active' : ''}">
                <a href.bind="lvl2Item.navModel.href" t="${lvl2Item.i18key}">
                    <span if.bind="lvl2Item.items" class="fa arrow"></span>
                </a>
               
                <ul if.bind="lvl2Item.items" class="nav nav-third-level">
                    <li repeat.for="lvl3Item of lvl2Item.items" class="${lvl3Item.navModel.isActive  ? 'active' : ''}">
                        <a href.bind="lvl3Item.navModel.href" i18n="${lvl3Item.i18key}">
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</template>
